.math-sprint-example {

    font-family: Courier;
    text-align: center;
}

.math-sprint-response {

    margin-top: 3%;
}

.answer-choice-row {
    text-align: center;
}

.answer-choices {
    background-color: #ffffff;
    border-color: black;
    border-radius: 10%;
    border-style: solid;
    border-width: .1em;
    box-shadow: none;
    text-shadow: none;
    font-family: Courier;
    font-size: 1em;
    width: 4em;
    height: 2em;
}

.choice-response {

    margin-top: .5em;
}

.selected {

    background-color: #e6e6e6;
}

#equation {

    margin-top: 10%;
    font-size: 2em;
    line-height: 1.4em;
}

#answer-submit {

    margin-top: 3%;

}

#next-question {

    margin-top: 2%;
}
